.auth-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 400px;
  width: 100%;
  height: 400px;
	align-items: center;
  justify-content: center;
	background-color: #e7e7e7;
	box-shadow: 20px 22px 55px -45px rgba(227, 227, 227, 1);
	border-radius: 7px;
}

.auth-fields {
	display: flex;
  min-width: 100px;
	flex-direction: column;
	align-items: center;
	padding: 10px 10px;
	border-bottom: 1px solid silver;
}

h1 {
  font-family: 'Onest', sans-serif;
  font-size: 32px;
  align-self: center;
}

.input-field {
  border-radius: 4px;
  padding: 5px 5px;
  background-color: rgba(255, 255, 255, 0.871);
  border: 1px solid rgb(150, 150, 150);
}

label {
  font-family: 'Onest', sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0px 0px 2px 0px;
  padding: 0px 5px; 
}

.submit_btn-wrapper {
	margin: 10px 25%;
}

button.submit-btn {
  display: block;
  font-family: 'Onest', sans-serif;
  width: 212px;
  min-width: 100px;
  height: 32px;
  background-color: rgb(236, 236, 255);
  border: 1px solid rgb(164, 164, 245);
  border-radius: 4px;
  margin: 0 auto;
}

button.submit-btn:hover {
  background-color: rgb(186, 186, 224);
  color: #fff;
}

.auth-unregistered {
  display: block;
  height: 40px;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}

.error-message {
  display: block;
  font-size: 14px;
  background-color: rgb(197, 91, 91);
  color: #d9d9d9;
  margin: 10px auto;
  border-radius: 4px;
  padding: 2px 6px;
}